body {
  background: #3c4259;
}
*{
  padding: 0px;
  margin: 0px;
  font-family: "微软雅黑";
  font-size: 14px;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
}
ul {
  list-style-type: none;
  margin: 0px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.unvisible {
  display: none;
}
*:focus { outline: none; }
table {
  width: 100%;
  border:0px;
  border-collapse:collapse;
  border-spacing:0;
}
.container {
  background: #eef4f9;
  margin-top: 60px;
  padding-bottom: 95px;
}
.main_content {
  background: #ffffff;
  width: 1200px;
  margin: 0px auto;
}
.must {
  color: #f85151;
  font-size: 14px !important;
}
.dialog_view {
  padding: 30px 35px;
}
/*element-ui reset*/
.el-select-dropdown__item a {
  font-size: 14px;
  color: #333333;
}