.B-email .email_tab {
  position: fixed;
  top: 0px;
  z-index: 980;
}
.B-email .email_tab li {
  float: left;
  font-size: 14px;
}
.B-email .email_tab li a {
  display: block;
  height: 49px;
  line-height: 49px;
  color: #a3a7b9;
}
.B-email .email_tab li a.active {
  color: #5490ff;
  border-bottom: 1px solid #5490ff;
}
.B-email .email_tab li:first-child {
  margin-right: 100px;
}
.B-email .list {
  width: 100%;
  min-height: 885px;
  padding-top: 40px;
  background: #ffffff;
}
.B-email .list .addConnect {
  display: block;
  margin-left: 60px;
  width: 120px;
  height: 35px;
  line-height: 35px;
  background: #4cba6b;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
.B-email .list .addConnect:hover {
  background: #2c9349;
}
.B-email .list .addConnect i {
  font-size: 16px;
  color: #ffffff;
}
.B-email .list table td:first-child {
  text-indent: 83px;
}
.B-email .list table tr {
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #eceef5;
}
.B-email .no_result {
  height: 500px;
  background: #ffffff;
  text-align: center;
}
.B-email .no_result img {
  width: 132px;
  height: 82px;
  margin-top: 190px;
  margin-bottom: 22px;
}
.B-email .no_result p {
  font-size: 14px;
  color: #c0c5cc;
}